<h3>to do app</h3> 
<div>
   <ul>
      <% @todos.each do |todo| %>
      <li>
          <input type="checkbox"><a href="/todo/show/<%=todo.id%>"><%= todo.description %></a>
          <span class="pomodoros"><%= todo.pomodoro_estimate %></span>
      </li>
      <% end %> 
   </ul>
</div>
<img src="http://www.cscproject.org/sites/default/files/logos/codenow_logo_0.png?1458057226" title="codenow logo"><br>
<a href="/todo/new">make a new todo</a>